.sidebar {
  position: fixed;
  top: 120px;
  left: 0;
  width: 200px;
  height: calc(100% - 120px);
  background: linear-gradient(180deg, #001aff, #005fcc);
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar li a,
.logout-button {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 15px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-weight: 400;
  transition: background-color 0.3s ease, color 0.3s ease;

  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-size: inherit;
}

.logout-icon {
  width: 20px;
  height: 20px;
}

.sidebar li a:hover,
.logout-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar li a.active {
  background-color: rgba(255, 255, 255, 0.9);
  color: #001aff;
  font-weight: 500;
}

.sidebar .nav-icon {
  width: 20px;
  height: 20px;
}

.sidebar li a.active .nav-icon {
  filter: invert(10%) sepia(100%) saturate(7401%) hue-rotate(235deg)
    brightness(96%) contrast(108%);
}
