* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: #d6d6d6ff;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 120px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
}

.header .logo {
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.header img {
  mix-blend-mode: multiply;
  width: 100px;
}
.perfil {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  right: 0;
}

.perfil h2 {
  color: black;
  margin: 10px;
  font-size: medium;
}

.perfil img {
  width: 50px;
  margin-right: 10px;
}

.hamburger-menu {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  color: #001aff;
  cursor: pointer;
  margin-right: 15px;
  z-index: 1100;
}

.main-content {
  margin-top: 120px;
  margin-left: 200px;
  padding: 20px;
  background-color: #d6d6d6ff;
  transition: margin-left 0.3s ease;
}

.main-content-login {
  padding: 0;
  margin: 0;
  background-color: #d6d6d6ff;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .main-content {
    margin-left: 0;
  }

  .header .logo {
    padding-right: 0;
  }

  .header .logo h2 {
    display: none;
  }

  .perfil {
    display: none;
  }
  .perfil h2 {
    display: none;
  }
}
